<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <wompi_payment>
                <active>0</active>
                <title>Wompi</title>
                <business_model>agregador</business_model>
                <model>Wompi\Payment\Model\Payment\Method</model>
                <order_status>pending_payment</order_status>
                <allowspecific>0</allowspecific>
                <sort_order>50</sort_order>
                <test_mode>sandbox</test_mode>
                <public_key_test></public_key_test>
                <private_key_test></private_key_test>
                <events_key_test></events_key_test>
                <integrity_key_test></integrity_key_test>
                <public_key_production></public_key_production>
                <private_key_production></private_key_production>
                <events_key_production></events_key_production>
                <integrity_key_production></integrity_key_production>
                <acquirer_merchant_id></acquirer_merchant_id>
                <store_view_code></store_view_code>
            </wompi_payment>
        </payment>
    </default>
</config>
